body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;

    /* Premium uzay arka plan */
    background: radial-gradient(circle at center, #0d1b2a 0%, #000814 70%);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.title {
    position: absolute;
    top: 30px;
    left: 40px;
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
}
