*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:'Orbitron', sans-serif;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

/* 3D Dünya */
#earth-container{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-2;
}

/* 2D Uzay */
#space{
position:fixed;
top:0;
left:0;
z-index:-1;
}

header{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:15px 40px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(20px);
z-index:1000;
}

.logo{
height:45px;
}

nav{
display:flex;
gap:25px;
align-items:center;
}

nav a,.dropbtn{
color:white;
background:none;
border:none;
cursor:pointer;
font-size:16px;
transition:0.3s;
}

nav a:hover,.dropbtn:hover{
color:#00f0ff;
text-shadow:0 0 10px #00f0ff;
}

.dropdown{
position:relative;
}

.dropdown-content{
display:none;
position:absolute;
background:rgba(0,0,0,0.9);
padding:10px;
border-radius:8px;
top:35px;
}

.dropdown:hover .dropdown-content{
display:block;
}

.section{
min-height:100vh;
padding-top:150px;
text-align:center;
font-size:38px;
}
